:root{
	--mainColor:#A67F78;
	--secondaryColor:#E1DCD9;

	--borderColor:#000000;

	--mainText:rgb(12, 12, 12);
	--secondaryText:#0f0e0e;

	--themeDotBorder:rgb(8, 8, 8);

	--previewBg:#E1DCD9;
	--previewShadow:#A67F78;


	--buttonColor:#3E3C3C;


}
