:root{
	--mainColor:#80BD9E;
	--secondaryColor:#3D405B;

	--borderColor:#1d1520;

	--mainText:rgb(255, 255, 255);
	--secondaryText:#ffffff;

	--themeDotBorder:rgb(255, 255, 255);

	--previewBg:#3D405B;
	--previewShadow:#80BD9E;


	--buttonColor:#ca88ff;


}
